/* Apply Poppins globally */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f3; /* Light background */
  color: #333; /* Dark text for readability */
}

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ecf0f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-container {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: #ecf0f3;
}

.profile-card {
  /* background: #ffffff; */
  border-radius: 20px;
  box-shadow: 10px 10px 20px #d1d9e6, -10px -10px 20px #ffffff;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.profile-image {
  border-radius: 15px;
  width: 300px; /* Adjust size as needed */
  height: auto;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: -12px;
}

